nav .container {
    width: 100%;
    height: 5vh;
    position: fixed;
    top: 0px;
}

nav .row {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px auto;
    align-items: center;
    background-color: black;
}

nav ul>li {
    display: flex;
    color: white;
}

nav .container a {
    font-size: 1.3em;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
}

nav .container a:hover {
    color: red;
    display: block;
}

header {
    margin: 5vh 0px 0px 0px;
    display: flex;
    background-image: url(https://source.unsplash.com/1200x300?building);
    background-size: cover;
    height: 40vh;
}

.btn {
    margin: 10px auto;
}

button {
    width: 100px;
    height: 30px;
    background-color: #f8f8f8;
    font-size: 1em;
}

section .container {
    height: 50vh;
}

section [class^="col"] {
    clear: both;
    background-color: antiquewhite;
    margin: 10px;
}

section .container h2 {
    margin: 10px 10px;
    color: #e54e4e;
    text-decoration: underline;
    color: #1955de;
    clear: both;
    font-style: italic;
    font-size: 2em;
}


section .container p {
    font-family: 'arial';
    margin: 10px;
    letter-spacing: 2px;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: left;
    line-height: 25px;
}

section .container img {
    float: left;
    margin: 0px 10px;
    border-radius: 30px;
}

section .container span {
    display: inline-block;
    font-size: 2em;
}

section img {
    display: flex;
    align-items: center;
    max-width: 100%;
}

footer .container {
    width: 100%;
    height: 5vh;
    color: white;
    clear: both;
    overflow: hidden;
}

footer .row {
    height: 100%;
}

footer .container [class^="col-"] {
    background-color: black;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0px 0px;
    font-size: 0.5em;
    line-height: 35px;
}

@media screen and (max-width:768px) {
    section img {
        width: 200px;
    }
    section span {
        display: inline-block;
    }
}
