@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');
nav .container {
    width: 80%;
    height: 5vh;
    position: fixed;
    top: 0px;
    left: 10%;
}

nav .row {
    display: flex;
    height: 100%;
    width: calc(100% - 20px);
    margin: 0px auto;
    align-items: center;
    background-color: black;
}

nav ul>li {
    display: inline-block;
    color: white;
}

nav .container a {
    font-size: 1.3em;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
}

nav .container a:hover {
    color: red;
    display: block;
}

header .container {
    height: 40vh;
    width: 80%;
    margin-top: 5vh;
}

header .row {
    background-image: url(https://source.unsplash.com/1200x300?);
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(100% - 20px);
    height: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    overflow: scroll;
}

header [class="col-"] {
    position: relative;
    top: 100px;
}

header h1 {
    font-family: 'Baloo Thambi', cursive;
    ;
    font-size: 3em;
    font-weight: 600;
    color: white;
    width: 100%;
    margin: 10px auto;
    border-bottom: 5px solid white;
    text-align: center;
    letter-spacing: 5px;
}

header p {
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.btn {
    font-size: 1.2em;
    text-decoration: none;
    margin: 5px auto;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    background-color: #82baea;
    color: white;
}

.btn-primary:hover {
    background-color: #1c8aea;
    color: white;
}

section {
    height: 50vh;
}

section .container {
    width: 80%;
    text-align: center;
    padding: 10px;
}

section .container img {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    border: 0.2px solid gray;
}

section .container h2 {
    font-style: italic;
    margin: 5px auto;
    color: #ba3232;
}

section p {
    text-align: center;
}

footer .container {
    width: 80%;
    height: 5vh;
    color: white;
    clear: both;
    overflow: hidden;
}

footer .row {
    height: 100%;
    clear: both;
}

footer .container [class^="col-"] {
    background-color: black;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0px 0px;
    font-size: 0.5em;
    line-height: 35px;
}

@media screen and (max-width:768px) {
    header h1 {
        font-size: 2em;
    }
}

@media screen and (min-width:768px) and (max-width:997px) {
    header h1 {
        font-size: 2em;
    }
}

@media screen and (min-width:997px) and (max-width:1200px) {
    header h1 {
        font-size: 3em;
    }
}
